<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.filesharing.ch_hamza.jacquard">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/as"
        android:label="@string/app_name"
        android:roundIcon="@drawable/as"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activeties.sub_categories" />
        <activity android:name=".Activeties.Check_Out" />
        <activity android:name=".Activeties.All_Products" />
        <activity android:name=".Activeties.My_Cart" />
        <activity android:name=".Activeties.Size_Chart"></activity>
        <activity android:name=".Activeties.Product_Details"></activity>
        <activity android:name=".Activeties.FullScreenImage"></activity>
    </application>

</manifest>